details details {margin-left:10pt;}
.treeview {
  padding:5pt;
  background-color:sky;
  width:240pt;
  font:20pt Arial;
  display:inline-block;
}
summary[selected="true"]{
  background-color:yellow;
}


summary {
  cursor:pointer;
}
summary:hover {
  background-color:#C0e0ff;
}
/* Default for folders */
/*summary::-webkit-details-marker {
  background-image:url('http://files.softicons.com/download/folder-icons/plastic-folders-icons-by-sirubico/png/16x16/Folder-Generic.png');
  width:16px;
  height:16px;
  color:transparent;
}*/

/* Patients */
/*summary[data-type="class:patient"]::-webkit-details-marker {
  background-image:url('http://files.softicons.com/download/toolbar-icons/16x16-free-application-icons-by-aha-soft/png/16x16/Person.png');
  width:16px;
  height:16px;
  color:transparent;
}*/

/* Physicians */
/*summary[data-type="class:physician"]::-webkit-details-marker {
  background-image:url('http://files.softicons.com/download/medical-icons/health-icons-by-kliniko/png/16x16/doctor.png');
  width:16px;
  height:16px;
  color:transparent;
}*/

/* Plans */
/*summary[data-type="class:plan"]::-webkit-details-marker {
  background-image:url('http://files.softicons.com/download/medical-icons/health-icons-by-kliniko/png/16x16/paper.png');
  width:16px;
  height:16px;
  color:transparent;
}*/

/* Default for leafs */
/*summary:only-child::-webkit-details-marker {
  color:transparent;
  background-color:green;
  background-image:url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/620300/report3_16x16.gif);
  width:16px;
  height:16px;
}*/
summary .icon {
  width:16px;
  height:16px;
}



summary:only-child::-webkit-details-marker {
  color:transparent;
}
details details {
  margin-left:10pt;
  display:block;
}  
#display {
  display:inline-block;
  vertical-align:top;
}
#display {font-family:Arial;}
.label {font-size:14pt;font-weight:bold;}
.descr {font-size:10pt}

